<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
    <session-factory>
		<!-- Dialecto SQL -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		
		<!-- Configuración para la conexión a la Base de Datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/deportes</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
		
		<!-- Muestra la salida de las consultas SQL en consola y formatea la salida beauty -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Gestiona los parámetros de conexiones por parte de hibernate -->
		<property name="hibernate.connection.assureReadOnly">true</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.maxPoolSize">5</property> 
        <property name="hibernate.connection.minPoolSize">2</property> 
        <property name="hibernate.connection.poolName">AADD_Pool</property> 
        <property name="hibernate.connection.pool">true</property> 
        <property name="hibernate.connection.maxIdleTime">7000</property>
		
		<!-- Especifica la clase de Contexto de Sesión -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		
		<!-- Configuración de Hibernate para que se generen las tablas de la base de datos -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Ficheros XML con los mapeos entre el modelo de clases de aplicación y el modelo físico E/R-->
        <mapping class="com.ismael.Pais"/>
        <mapping class="com.ismael.Participante"/>
        <mapping class="com.ismael.Deporte"/>
		<mapping class="com.ismael.ParticipanteDeporte"/>

    </session-factory>
</hibernate-configuration>
